<div class="page-container">
    <h1>Graphics</h1>


    <!-- menu -->
    <div class="card-container margin-top-24">
        <div class="display-row">
            <button class="btn-outline" (click)="loadExcelFile()">
                <span>Select file</span>
                <i *ngIf="plots.length === 0" class="material-icons md-18 margin-left-24">folder_open</i>
                <i *ngIf="plots.length > 0" class="material-icons md-18 margin-left-24">check_circle_outline</i>
            </button>

            <form>
                <input id='fileOpener' onClick="this.form.reset();" type='file' (change)="onFileChange($event)" multiple="false" class="hidden" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"/>
            </form>
    
    
               <!-- Number of variables selection -->
            <div class="dropdown margin-left-24">
                <button class="btn btn-secondary dropdown-toggle btn-spacing" type="button" id="dropdownMenu1"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Chart - <span class="margin-right-24">{{selectedChart}}</span> 
                </button>
    
                <div class="dropdown-menu dropdown-primary">
                    <a *ngFor="let item of charts" (click)="setChart(item)"
                    class="dropdown-item">{{item}}</a>
                </div>
            </div>

            <div class="color-picker-container">
                <div (colorPickerChange)="setColor(color)" [(colorPicker)]="color" [style.background]="color" class="color-circle"></div>
            </div>
        </div>
    </div>

    <!-- Canvas -->
    <div class="card-container margin-top-24">
        <canvas id="canvas" class="canvas" width='{{canvasWidth}}' height='{{canvasHeight}}'></canvas>
    </div>


</div>